
<% if logged_in?() %>
    <div class="top_bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li id="about"><a href="/about">About</a></li>
        </ul>
        <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button id="logout_button">Logout</button>
        </form>
    </div>
    
    <h1>Shℨn⍺nig⍺ns</h1>
    <h3>Welcome! <%= current_user()['first_name'] %></h3>
    <p id="list">List of Upcoming Events:</p>
    <section class="events">
        <% events.each do |event| %>
            <form class="event" action="/event/<%= event['id'] %>" method="POST">
                <h2 class="event_name"><%= event['name'] %></h2>
                <img class="cover" src="<%= event['image_url'] %>" title="source: imgur.com" />
                
                <input type="hidden" name="name" value="<%= event['name'] %>">
                <input type="hidden" name="image_url" value="<%= event['image_url'] %>">
                <button class="add_button">Add to Dashboard</button>   
            </form>
        <% end %>
    </section>

<% else %>      
    <h1>Shℨn⍺nig⍺ns</h1>
    <h3> <a id="signup" href="new_user"> Sign Up </a>to View the Upcoming Events in Sydney...</h3> 
    <h3><a href="/new" id="login"> Log in </a>if you already have an account</h3>   

<% end %>

